# 공통
node_modules/
dist/
build/
.env
.env.*
pnpm-lock.yaml
package-lock.json
yarn.lock
.DS_Store
*.log
*.tsbuildinfo

# 프론트엔드
FE/build/
FE/dist/
FE/.next/
FE/.turbo/
FE/.eslintcache
FE/.storybook/

# 백엔드
BE/dist/
BE/.nestjs/

# IDE/OS
.vscode/
.idea/
*.swp
Thumbs.db